<h1>Seja Bem-Vindo!</h1>
<p>
    Vinicius de souza
</p>

<p> A soma é: <%= 1 + 1  %> </p>
<p> Seu nome de trás pra frente é: <%= "Vinicius".reverse  %> </p>
<p><% ax = "minha variavel a" %> </p>
<p> imprimando a variavel a: <%= ax %> </p>
<p> A data de hoje é: <%= Date.today %><p/>